<div class="container-fluid">
    <app-barra-superior-admin></app-barra-superior-admin>
</div>
<div class="container-fluid">
            <div class="row level-2">
                <div class="col-lg-6">
                    <div class="container-product">
                        <div class="flex-container-product">
                            <div class="nuevo-producto"><div class="icon"><i class="fa fa-plus fa-4x"></i></div></div>
                        </div>
                        <div class="flex-container-product-2">
                        <div class="box info">
                        <form (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="id">

                        <label for="nombre">Insertar nombre del producto</label>
                        <input type="text" placeholder="Add Title ..." [(ngModel)]="pizza.nombre" name="nombre" id="nombre">

                        <label for="descripcion">Insertar descripción del producto</label>
                        <input type="text" placeholder="Add Title ..." [(ngModel)]="pizza.descripcion" name="descripcion" id="descripcion">

                        <label for="precio">Insertar precio del producto</label>
                        <input type="text" placeholder="Add Title ..." [(ngModel)]="pizza.precio" name="precio" id="precio">

                        <label for="url_img">Imagen</label>
                        <input type="text" placeholder="Add Title ..." [(ngModel)]="pizza.imagen" name="imagen" id="imagen">

                        <label for="disponible"><span>¿El producto está disponible?</span><input type="text" placeholder="Add Title ..." [(ngModel)]="pizza.disponible" name="disponible" id="disponible">
                        <span class="error" aria-live="polite"></span>
                        </label>

                        <input type="submit" value="Submit" class="btn">
                        </form>
                        </div>
                        </div>
                        <div class="container-disponibilidad">Disponible</div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="producto-personalizable">Producto personalizable</div>
                    <div class="personalizable-si">sí</div>
                    <div class="personalizable-no">no</div>
                    <div class="crear-producto">Crear producto</div>
                </div>
    </div>
</div>
