<nav> 
            <div class="handle"><b id="aux">Personaliza tu pedido</b><i class="far fa-arrow-alt-circle-down"></i></div>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a routerLink="/pizzas">Productos</a></li>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Usuario: Nombre Apellido<i class="far fa-arrow-alt-circle-down"></i></a>
                    <ul>
                       <li><a routerLink="/change-password">Cambio de clave</a></li>
                       <li><a href="">Compras</a></li>
                       <li><a routerLink="/orden">Orden</a></li>
                       <li><a href="">Salir</a></li> 
                    </ul>                    
                </li>
            </ul>
        </nav>