<body>
  <h1>Inicia sesión en uMakeIT!</h1>
    <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electrónico</label>
          <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" 
          placeholder="Ingrese su correo" autocomplete="on" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control"  formControlName="password" placeholder="Ingrese su contraseña" required>
        </div>
        <div id="entrar">
            <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary">Entrar</button>
            <button type="submit" [routerLink]="['/register']" class="btn btn-primary">¿Primera vez en uMakeIT!?</button>
        </div>
        <div id ="entrar">
            <button type="submit" (click)="tryReset(loginForm.value)" class="btn btn-primary">¿Olvidaste tu contraseña?</button>
        </div>
      </form>
</body>
