h1{
    text-align: center;
    color: #6666ff;
    font-size: 2.5rem;
}

#boton{
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
    list-style: none;
}

body{
    background: black;
    margin-top: 10%;
}

.container{
    width: 75%;
}

#cajaGeneral{
    margin: auto;
    width: 50%;
}

.form-group{
    color: white;
    font-size: 1.3rem;
}

#cajaIrRegister{
    width: 37%;
    margin-left: 42%;
    margin-top:15px;
}

#irRegister{
    color: white;
    font-size: 1.3rem;
}

a{
    margin: 1rem;
    background: white;
    padding: 0.3rem;
    border-radius: 3px;
}

.bLogin{
    margin-left: 32.7%;
    position: absolute;
}