body{
    background: black;
    margin-top: 10%;
}

h1{ /*Titulo*/
    text-align: center;
    color:#6666ff;
    font-size: 350%;
    margin-bottom: 15px;
    text-shadow: 2px 2px #3333ff;
}

input:invalid {
    border: 2px solid red;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  red;
  }
  
input:valid {
    border: 2px solid #00ff00;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #00ff00;
}

textarea:focus, input:focus, input[type]:focus {
    border-color:  #3333ff;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #3333ff;
    outline: 0 none;
}

form{
    width: 35%;
    margin: auto;
}

label{
    color: white;
    font-size: 1.2rem;
}

button{
    margin-right: 5px;
    margin-bottom: 15px;
    background:  #3333ff;
    border: 2px solid #6666ff;
}

#entrar{
    width: 100%;
    display: inline-flex;
}

#entrar button{
    width: 100%;
}

