<body>
<h1 class="header">Inicia sesión en uMakeIT!</h1>

     <div class="container">
          <form [formGroup]="loginForm" id="cajaGeneral">
            <div class="form-group">
              <label>Correo Electronico</label>
              <input type="email" formControlName="email" class="form-control" autocomplete="on">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" formControlName="password">
              <label class="error">{{errorMessage}}</label>
            </div>
          </form>
      </div>

      <div class="bLogin">
        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default" id="boton">Login</button>
      </div>

      <div id="cajaIrRegister">
          <a id="botonregister" [routerLink]="['/register']">¿No tienes cuenta aún?</a>
      </div>

</body>