<body>
 
    <div *ngIf = "!admin">
        <app-barra-superior></app-barra-superior>
    </div>
    <div *ngIf = "admin">
        <app-barra-superior-admin></app-barra-superior-admin>
    </div>

    <div class="cajaTitulo">
        <h1 class="titulo">Cambio de contraseña</h1>
    </div>

    <form [formGroup] ="changeForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Ingrese su contraseña actual</label>
          <input type="password" class="form-control" formControlName="passwordActual" placeholder="Ingrese su contraseña actual" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ingrese su nueva contraseña</label>
          <input type="password" class="form-control"  formControlName="password" placeholder="Ingrese su  nueva contraseña" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Repita la nueva contraseña</label>
            <input type="password" class="form-control"  formControlName="password2" placeholder="Confirme su  nueva contraseña" required>
          </div>
        <div id="entrar">
            <button type="submit" (click)="tryChangePassword(changeForm.value)" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </form>
    <app-footer></app-footer>
</body>
