.titulo{
  text-align: center;
  color: #6666ff;
  font-size: 2em;
}

.cajaTitulo{
  margin: 3%;
}

.container{
  width: 35%;
}

label{
  color: white;
}

.cajaRegister{
  width: 10%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

