.titulo{
  text-align: center;
  color: #6666ff;
  font-size: 3.5em;
  font-style: bold;
  text-shadow: 2px 2px #3333ff;
}

.cajaTitulo{
  margin: 3%;
  margin-top: 100px;
}

form{
  width: 500px;
  margin: auto auto 40px auto;
}

button{
  margin-top: 17px;
  background:  #3333ff;
  width: 100%;
  border: none;
  padding: 8px;
  font-size: 1.3rem;
}

label{
  color: white;
  font-size: 1.3rem;
}

#entrar{
  width: 100%;
}

input:invalid {
  border: 2px solid red;
  box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  red;
}

input:valid {
  border: 2px solid #00ff00;
  box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #00ff00;
}

textarea:focus, input:focus, input[type]:focus {
  border-color:  #3333ff;
  box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #3333ff;
  outline: 0 none;
}


@media (max-width: 800px) {
    form{
        width: 400px;
    }
}

@media (max-width: 700px) {
    form{
        width: 400px;
    }
}


@media screen and (max-width: 610px){

  .cajaTitulo{
    margin-top: 165px;
  }
  .titulo{
    font-size: 3em;
  }
  form{
    width: 380px;
  }
}

@media (max-width: 550px) {
    form{
        width: 320px;
    }
}

@media (max-width: 450px) {
    form{
        width: 300px;
    }
}
