<body>
 
    <app-barra-superior></app-barra-superior>

    <div class="cajaTitulo">
        <h1 class="titulo">Cambio de contraseña</h1>
    </div>
  
    <div class="container">
      <form [formGroup] ="changeForm">
        <div class="form-group">
          <label>Nueva contraseña</label>
          <input type="password" formControlName="password" class="form-control" required>
        </div>
      </form>
    </div>
    <div class="container">
        <form [formGroup] ="changeForm">
          <div class="form-group">
            <label>Repita nueva contraseña</label>
            <input type="password" formControlName="password2" class="form-control" required>
          </div>
        </form>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
    </div>

    <div class="cajaRegister">
      <button type="submit" (click)="tryChangePassword(changeForm.value)" class="btn btn-default" id="boton">Cambiar</button>
    </div>

    <app-footer></app-footer>
</body>
