<div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="container-orden">
                        <div class="orden">
                            <div class="nombre-producto"><span>Pizza con pepperoni</span></div>
                            <div class="precio-producto"><span>30$</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                        <div class="orden">
                            <div class="nombre-producto"><span>Coca-cola</span></div>
                            <div class="precio-producto"><span>20$</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                        <div class="orden">
                            <div class="nombre-producto"><span>Brownie</span></div>
                            <div class="precio-producto"><span>10$</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                        <div class="orden">
                            <div class="nombre-producto"><span>Brownie</span></div>
                            <div class="precio-producto"><span>10$</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                        <div class="orden">
                            <div class="nombre-producto"><span>Pizza con piña</span></div>
                            <div class="precio-producto"><span>30$</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                    </div>
                    <div class="container-total"><div class="total-texto">Total a pagar:</div><div class="total-monto">100$</div>
                        <div class="terminar-pedido"><span>Finalizar pedido</span></div>
                    </div>
                </div>
            </div>
        </div>