<app-barra-superior></app-barra-superior>
<div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="container-orden">
                        <div class="orden" *ngFor="let item of items">
                            <div class="nombre-producto"><span>{{item.nombre}}</span></div>
                            <div class="precio-producto"><span>{{item.precio}}</span></div>
                            <div class="eliminar-producto"><i class="fa fa-trash fa-2x"></i></div>
                        </div>
                    </div>
                    <div class="container-total"><div class="total-texto">Total a pagar:</div><div class="total-monto">$</div>
                        <div class="terminar-pedido"><span>Finalizar pedido</span></div>
                    </div>
                </div>
            </div>
</div>