.row{
    z-index: 0;
}

.container-orden {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    width: 480px;
    height: auto;
    box-shadow: 0px 0px 8px rgb(164, 165, 162);
    border-radius: 4px;
    background: rgb(17, 17, 17);
}

.container-extras {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    width: 480px;
    height: auto;
    box-shadow: 0px 0px 8px rgb(164, 165, 162);
    border-radius: 4px;
    background: rgb(17, 17, 17);
}

.orden {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: solid;
    border-width: 1.5px;
    border-color: rgb(132, 253, 142);
    margin: 10px 20px 2px 20px;
}

.orden > div {
    flex: 1 1 auto;
    padding: 5px;
    font-size: 24px;
    font-weight: 640;
    margin: 4px;
    text-align: center;
    color: #fff;
}

.eliminar-producto {
    font-size: 18px !important;
    border-radius: 8px;
    border: solid;
    border-width: 1.5px;
    border-color: rgb(253, 50, 50);
}

.container-total {
    border-radius: 12px;
    background: transparent;
    width: 250px;
    height: auto;
    margin-right: 40px;
    margin-top: 100px;
    float: right;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(132, 253, 142);
    box-shadow: 0px 0px 8px rgb(5, 255, 25);
}

.total-texto {
    margin-top: 20px;
    margin-left: 10px;
    font-family: Quicksand;
    color: #fff;
    font-weight: 650;
    font-size: 20px;
}

.total-monto {
    font-family: Quicksand;
    color: rgb(132, 253, 142);
    text-shadow: 0px 0px 8px rgb(5, 255, 25);
    font-weight: 650;
    font-size: 46px;
    text-align: center;
}

.terminar-pedido {
    font-weight: 640;
    border-radius: 8px;
    color: #000;
    background: #fff;
    font-size: 18px;
    text-align: center;
    width: 180px;
    height: 30px;
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 10px;
}

#pagar{
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2vw;
    margin-left: 20px;
}

#botonPayPal{
    margin-left: 20px;
}