<div class="sky">
    <div class="stars"></div>
  <div class="flex-container">
    <form id="login-form">
      <div>
        <img src="Img/ic_menu_login.png" />
      </div>
      <div class="form-group">
        <input type="text" name="User" class="form-control" id="form-control" placeholder="Usuario" autocomplete="on" required />
      </div>

      <div class="form-group">
        <input type="password" name="Password" class="form-control" id="form-control" placeholder="Contraseña" required />
      </div>
      <div id="remember-me">
        <input type="checkbox" name="checkbox" id="checkbox">
        <label title="Recuerdame"> Recuerdame</label>
      </div>
      

      <div class="form-group">
        <input type="submit" value="Ingresar" class="form-control" title="Ingresar en su cuenta." />
      </div>
      
      <a href="#openModal" class="unregister" title="Click para registrarse!">No eres miembro? Registrate es gratis!</a>

    </form>

    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">x</a>
        <div>
            <img src="Img/icon2.ico"/><p id="register-title">Registrese</p>
        </div>
    
        <form>
          <div class="form-group"><input type="text" name="Nombre_Apellido" class="form-control" id="Nombre_Apellido"
              placeholder="Ingrese su nombre y apellido" required /></div>
          <div class="form-group"><input type="password" name="nueva_contraseña" class="form-control" id="nueva_contraseña"
              placeholder="Ingrese una contraseña" required /></div>
          <div class="form-group"><input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su email"
              required /></div>
          <div class="form-group"><input type="submit" value="Registrarme" title="Click para crear su cuenta." /></div>
        </form>
      </div>

    </div>
  </div>