.slider{
	width:  1300px;
	height: 400px;
	margin:auto;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 10px;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 16s infinite alternate;
	animation-timing-function: ease-in;
}

.slider li{
	list-style: none;
	width: 100%;
}

.slider img{
 	width: 100%;
 	border-radius: 6px;
}

@media screen and (max-width: 1450px){
	.slider{
		width: 930px;
	}
}

@media screen and (max-width: 1300px){
	.slider{
		width: 840px;
	}
}

@media screen and (max-width: 1200px){
	.slider{
		width: 770px;
	}
}

@media screen and (max-width: 1100px){
	.slider{
		width: 710px;
	}
}

@media screen and (max-width: 1000px){
	.slider{
		width: 640px;
	}
}


@media screen and (max-width: 900px){
	.slider{
		width: 570px;
	}
}

@media screen and (max-width: 800px){
	.slider{
		width: 500px;
	}
}

@media screen and (max-width: 700px){
	.slider{
		width: 430px;
	}
}


@media screen and (max-width: 650px){
	.slider{
		width: 400px;
		margin-bottom: 0;
	}
}


@keyframes cambio{
	0%{margin-left:  0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left:  -300%;}
	100%{margin-left: -300%;}
}