/*CSS relacionado con la navbar*/

nav{
    left:0px;
	top:0px;
    position:fixed;
    width: 100%;
    z-index: 1;
 }

 p{
     margin:0;
 }

 .nombreEmpresa{                             /* titulo uMakeIT! */
    color: white;
    left:0px;
	top:0px;
    margin-left: 95px;
    margin-top: 15px;
    font-size: 1.5em;
    position:fixed;
    z-index: 2;
}

.logo img{                                  /* Logo en la navbar */
    left:0px;
	top:2px;
    position:fixed;
    margin-top: 0.7%;
    margin-left: 2%;
    width:45px; 
    height:45px;
    z-index: 2;
}

nav {                                       /* ESTILOS GENERALES DE LA NAV */
    border: 3px solid #484848;
    list-style: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #202020;
    border-radius: 5px;
}

nav a{                                       /* TEXTOS DENTRO DE LA NAV */       
    padding-bottom: 4px;
    font-family: Quicksand;
    color: white;
    font-size: 1.2em;
}

nav a:hover{                                 /* CUANDO ESTOY ENCIMA DE LOS TEXTOS DENTRO DE LA NAV */
    border-bottom: 1px solid #F13006;
    text-decoration: none;
}

#menu > li{                                   /* CAJAS ELEMENTOS DE LA NAV */
    display: inline-block;
    padding-right: 2%;
    padding-left: 2%;
}

nav ul li :hover{                            /* CUANDO ESTOY ENCIMA DE UNA CAJA DE LA NAV */
    color: rgb(132, 154, 252);
}

nav li ul{                                   /*OCULTA DEL SUBMENU*/
    display: none;
} 

#submenu{
    margin-left: 20px;

}

#submenu li{
    margin: 10px;
}

nav li:hover > ul{                           /* Submenu */
    position: absolute;
    background-color: black;
    border-radius: 5px;
    border: 2px solid #F13006;
    display: block;
    list-style: none;
    padding: 15px;
}

/*-----------RESPONSIVE--------------*/


@media screen and (max-width: 930px){
    .nombreEmpresa{
        display: none;
    }
}

@media screen and (max-width: 650px){
    .logo{
        display: none;
    }
}

@media screen and (max-width: 585px){

    nav{
        font-size: 0.90em;
    }
    
    nav ul li{                                  /* Menu pantalla pequeña */
        width: 100%;
        box-sizing: border-box;
        margin-top: 2px;
        padding: 3px;
        text-align: center;
    }

    #menu > li{                                 /* CAJAS ELEMENTOS DE LA NAV */
        display: block;
    }

    nav {                                       /* ESTILOS GENERALES DE LA NAV */
        height: 165px;
    }

    .nombreEmpresa{
        margin-top: 20px;
        font-size: 1.5em;
    }

    .logo img{              
        margin-top: 20px;
        margin-left: 30px;
    }

    .far{
        margin-left: 10px;
    }
    
}
    
