<div class="logo">
    <a a [routerLink]="['/home']"><img src="https://seeklogo.com/images/P/pizza-logo-9092058631-seeklogo.com.png"></a>
</div>

<div class="nombreEmpresa">uMakeIT!</div>

<nav> 
    <ul id = "menu">
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a [routerLink]="['/pizzas']">Productos</a></li>
        <li class="caption">
            <a [routerLink]="['/home']"> Agregar </a>
            <ul id = "submenu">
                <li><a [routerLink]="['/agregar']">Pizza</a></li>
                <li><a href="">Bebida</a></li>
                <li><a href="">Postre</a></li>
                <li><a href="">Complemento</a></li>
            </ul> 
        </li>   
         <li class="caption">
                <a [routerLink]="['/home']"> Editar </a>
            <ul id = "submenu">
                <li><a href="">Pizza</a></li>
                <li><a href="">Bebida</a></li>
                <li><a href="">Postre</a></li>
                <li><a href="">Complemento</a></li>
            </ul> 
        </li>    
        <li class="caption">
            <a [routerLink]="['/home']" *ngFor = "let user of userList">
                <p *ngIf="user.email === title"> Admin: {{ user.userName }} </p>
            </a>
            <ul id = "submenu">
               <li><a [routerLink]="['/change-password']">Cambio de clave</a></li>
               <li><a href="">Ingresos</a></li>
               <li><a href="">Egresos</a></li>
               <li><a (click)="salir()">Salir</a></li> 
            </ul>                    
        </li>
    </ul>
</nav>

