body{
    background: black;
    margin-top: 10%;
}

.titulo{
    text-align: center;
    color: #6666ff;
    font-size: 250%;
    margin-bottom: 5px;
    text-shadow: 2px 2px #3333ff;
}

.cajaTitulo{
    margin-bottom: 25px;
}

.form-group{
    color: white;
    font-size: 1.2rem;
}

textarea:focus, input:focus, input[type]:focus {
    border-color:  #3333ff;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #3333ff;
    outline: 0 none;
}
.container{
    width: 60%;
}

#cajaGeneral{
    margin: auto;
    width: 50%;
}


#irLogin{
    color: white;
    font-size: 1.3rem;
    margin-top: 5px;
}

.row{
    width: 25%;
    margin-left:52%;
}

#boton{
    background: #3333ff;
    box-shadow: 3px 2px #6666ff;
    color: white;
    font-style: bold;
    font-size: 1.15rem;
}

#botonLogin{
    color: white;
    font-style: bold;
    padding: 7px;
}

a{
    padding: 0.3rem;
    border-radius: 3px;
    font-size: 1.3rem;
}

#cajaRegister{
    position: absolute;
    margin-left: 35%;;
}

@media screen and (max-width: 1150px) {
    
  }