<body>
    <div class="cajaTitulo">
        <h1 class="titulo">Crear una cuenta en uMakeIT!</h1>
    </div>
  
    <div class="container">
      <form [formGroup]="registerForm" id="cajaGeneral">
        <div class="form-group">
          <label>Correo electrónico</label>
          <input type="email" formControlName="email" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input  type="password" class="form-control"formControlName="password" required>
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
      </form>
    </div>

    <div id="cajaRegister">
      <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default" id="boton">Registrarse</button>
    </div>

    <div class="row" id="cajaIrLogin">
      <div>
        <p id ="irLogin">Ya tengo una cuenta <a id="botonLogin"[routerLink]="['/login']">Login</a></p>
      </div>
    </div>

  </body>
