body{
    background: black;
    margin-top: 10%;
}

.cajaTitulo{
    margin-bottom: 30px;
}


.titulo{
    text-align: center;
    color: #6666ff;
    font-size: 380%;
    margin-bottom: 5px;
    text-shadow: 0px 0px 10px #3333ff,
    0px 0px 20px #3333ff,
    0px 0px 30px #3333ff,
    0px 0px 40px #3333ff,
    0px 0px 50px #3333ff,
    0px 0px 60px #3333ff;
    animation: pulsating 3s infinite;
}

/* ANIMATIONS */
@keyframes pulsating {
    0% {
        text-shadow: 0px 0px 0px;
        opacity: 0.3;
       } 
    50% {
        text-shadow: 0px 0px 10px #3333ff,
        0px 0px 20px #3333ff,
        0px 0px 30px #3333ff,
        0px 0px 40px #3333ff,
        0px 0px 50px #3333ff,
        0px 0px 60px #3333ff;
        opacity: 1;
        }
    100% {
          text-shadow: 0px 0px 0px;
          opacity: 0.3;
         }
  }

#botonLogin{
    color: white;
    font-style: bold;
    padding: 7px;
}


#forma{
    width: 500px;
    margin: auto;
}

label{
    color: white;
    font-size: 1.3rem;
}

textarea:focus, input:focus, input[type]:focus {
    border-color:  #3333ff;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #3333ff;
    outline: 0 none;
}

input:invalid {
    border: 2px solid red;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  red;
  }
  
input:valid {
    border: 2px solid #00ff00;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  #00ff00;
}

button{
    margin-bottom: 15px;
    background:  #3333ff;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 1.3em;
}

#cajaBotones{
    width: 100%;
    margin: auto;
}

@media (max-width: 800px) {
    form{
        width: 400px;
    }
}

@media (max-width: 700px) {
    form{
        width: 400px;
    }
}


@media (max-width: 600px) {
    form{
        width: 380px;
    }
}

@media (max-width: 550px) {
    form{
        width: 320px;
    }
}

@media (max-width: 450px) {
    form{
        width: 300px;
    }
}

